$marginvert: 70px;
$marginhor: 10%;
$paragraphsize: 16px;
$paddinghor: 5%;
$paddingvert: 20px;
$margintop: 70px;
$redbg: rgb(228,158,7);
$redgradient: linear-gradient(0deg, rgba(228,158,7,1) 0%, rgba(255,226,0,1) 100%);

%center {
  text-align: center;
}
%firstelement {
  margin-top: $margintop;
}

* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
}
body {
  background: rgb(7,121,228);
  background: linear-gradient(0deg, rgba(7,121,228,1) 0%, rgba(119,216,216,1) 100%);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#heading {
  @extend %firstelement;
}

h1, h2 {
  margin-top: 20px;
}
h2 {
  margin-bottom: 50px;
}
div {
  .box {
    margin: $marginvert $marginhor;
    padding: $paddingvert $paddinghor;
    border: 5px dotted white;
    border-radius: 15px 50px 30px;
    background: $redbg;
    background: $redgradient;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    dt {
      font-size: 20px;
    }
  }
  a {
    color: white;
  }
}
@media (min-width: 1500px) {
  #home::before {
    content:"Welcome to Austin Tran's CS50 Web Programming with Python and JavaScript Project 0!";
  }
}
@media (max-width: 1499px) {
  #home::before {
    content: "Welcome to Austin Tran's Project 0!";
  }
}
@media (min-width: 992px) {
  .information-bordera {
    border-left: 5px dotted white;
    border-bottom: 5px dotted white;
    border-top-right-radius: 43px;
    border-bottom-left-radius: 50px;
    background: $redbg;
    background: $redgradient;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .information-borderb {
    border-right: 5px dotted white;
    border-top: 5px dotted white;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 43px;
    background: $redbg;
    background: $redgradient;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .information-bar {
    background-image: url("img/bg.jpg");
  }
}
@media (max-width: 991px) {
    .information-border-sm-a {
      background: $redbg;
      background: $redgradient;
      background-repeat: no-repeat;
      background-attachment: fixed;
      border-top: 2.5px dotted white;
      border-bottom: 5px solid white;
    }
    .information-border-sm-b {
      background: $redbg;
      background: $redgradient;
      background-repeat: no-repeat;
      background-attachment: fixed;
      border-top: 2.5px solid white;
      border-bottom: 5px dotted white;
    }
    .information-bar {
      background-color: purple;
    }
}


#about::before {
  content: "Who is Austin Tran?";
}

p {
  font-size: $paragraphsize;
}
.center {
  text-align: center;
}
.or {
  @extend %center;
  font-weight: bolder;
  font-size: 20px;
}
#click {
  height:100px;
}
.first {
  position: relative;
  top: 50%;
}

.information-bar {
  margin: $marginvert $marginhor;
  border: 5px solid white;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.information-box {
  padding: $paddingvert $paddinghor;
}
#austin {
  border: 5px solid white;
  border-radius: 100px;
}
#austinis, p.edu {
  font-size: $paragraphsize;
  line-height: 3;
}
#bhs {
  border: 5px solid white;
}
