div .box {
  background: #fdff00;
  background: linear-gradient(0deg, rgba(253, 255, 0, 0.8) 0%, #e49e07 100%);
  background-repeat: no-repeat;
  background-attachment: fixed; }

.or, th, td + td {
  text-align: center; }

#heading {
  margin-top: 70px; }

* {
  box-sizing: border-box; }

body, html {
  height: 100%; }

body {
  background: #0779e4;
  background: linear-gradient(0deg, #0779e4 0%, #77d8d8 100%);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed; }

h1, h2 {
  margin-top: 20px; }

h2 {
  margin-bottom: 50px; }

div .box {
  margin: 70px 10%;
  padding: 20px 5%;
  border: 5px dotted white;
  border-radius: 15px 50px 30px;
  height: 100%; }
  div .box dt {
    font-size: 20px; }
div a {
  color: white; }

@media (min-width: 1500px) {
  #home::before {
    content: "Welcome to Austin Tran's CS50 Web Programming with Python and JavaScript Project 0!"; } }
@media (max-width: 1499px) {
  #home::before {
    content: "Welcome to Austin Tran's Project 0!"; } }
@media (min-width: 992px) {
  .information-bordera, .information-borderc {
    background: #fdff00;
    background: linear-gradient(0deg, rgba(253, 255, 0, 0.8) 0%, #e49e07 100%);
    background-repeat: no-repeat;
    background-attachment: fixed; }

  .information-bordera {
    border-left: 5px dotted #1d965e;
    border-top-right-radius: 43px;
    border-bottom-right-radius: 43px; }

  .information-borderc {
    border-right: 5px dotted #1d965e;
    border-top-left-radius: 43px;
    border-bottom-left-radius: 43px; }

  .information-bar-bg1 {
    background-image: url("img/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; } }
@media (max-width: 991px) {
  .information-border-sm-a, .information-border-sm-c {
    background: #fdff00;
    background: linear-gradient(0deg, rgba(253, 255, 0, 0.8) 0%, #e49e07 100%);
    background-repeat: no-repeat;
    background-attachment: fixed; }

  .information-border-sm-a {
    border-top: 5px dotted #1d965e;
    border-bottom: 2.5px solid white;
    border-bottom-right-radius: 43px;
    border-bottom-left-radius: 43px; }

  .information-border-sm-c {
    border-bottom: 5px dotted #1d965e;
    border-top-right-radius: 43px;
    border-top-left-radius: 43px; }

  .information-bar-bg1 {
    background-color: purple; } }
.information-bar-bg2 {
  background-image: url("img/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.information-bar-bg3 {
  background-image: url("img/bg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.information-bar-bg4 {
  background-image: url("img/bg4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#about::before {
  content: "Who is Austin Tran?"; }

#cyber::before {
  content: "Cybersecurity Competitions"; }

p {
  font-size: 16px;
  line-height: 2; }

.center {
  text-align: center; }

.or {
  font-weight: bolder;
  font-size: 20px; }

#click {
  height: 100px; }

.first {
  position: relative;
  top: 50%; }

.information-bar {
  margin: 70px 10%;
  border: 5px solid white;
  border-radius: 50px; }

.information-box {
  padding: 20px 5%; }

#austin {
  border-radius: 100px; }

#austinis {
  font-size: 16px;
  line-height: 2; }
  #austinis li {
    line-height: 3; }

#codeimg, #austin {
  border: 5px solid lightgray; }

#totop {
  background-color: #1d965e;
  padding: 20px 5%;
  margin: 70px 10%;
  border: 5px solid lightgray;
  border-radius: 200px; }

.cyberintro {
  background-image: url("img/cyberpurple.jpg");
  margin-top: 70px;
  margin-bottom: 70px;
  border: 5px solid white;
  border-radius: 50px; }

.table thead tr:first-of-type th {
  border-top: none; }

th:first-of-type.borderme {
  border-top-left-radius: 100px; }

th:last-of-type.borderme {
  border-top-right-radius: 100px; }

tr:last-of-type th:first-of-type.borderme2 {
  border-bottom-left-radius: 100px; }

tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 100px; }

caption {
  color: pink; }

thead {
  background: url("img/cyberlime.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

th[scope="col"] {
  color: white;
  font-weight: bolder;
  text-shadow: 0px 0px 10px black; }

th[scope="row"] {
  background: #d0f56d; }

th + td {
  background: #d0f56d;
  background: linear-gradient(90deg, #d0f56d 0%, #f6d600 100%); }

td + td {
  background: #f6d600; }

td + td + td {
  background: #d0f56d;
  background: linear-gradient(270deg, #d0f56d 0%, #f6d600 100%); }

/*# sourceMappingURL=styles.css.map */
