$marginvert: 70px;
$marginhor: 10%;
$paragraphsize: 16px;
$paddinghor: 5%;
$paddingvert: 20px;
$margintop: 70px;
$redbg: rgb(253,255,0);
$border: 5px dotted #1d965e;
$redgradient: linear-gradient(0deg, rgba(253,255,0,.8) 0%, rgba(228,158,7,1) 100%);
%center {
  text-align: center;
}
%firstelement {
  margin-top: $margintop;
}

* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
}
body {
  background: rgb(7,121,228);
  background: linear-gradient(0deg, rgba(7,121,228,1) 0%, rgba(119,216,216,1) 100%);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#heading {
  @extend %firstelement;
}

h1, h2 {
  margin-top: 20px;
}
h2 {
  margin-bottom: 50px;
}
div {
  .box {
    margin: $marginvert $marginhor;
    padding: $paddingvert $paddinghor;
    border: 5px dotted white;
    border-radius: 15px 50px 30px;
    background: $redbg;
    background: $redgradient;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    dt {
      font-size: 20px;
    }
  }
  a {
    color: white;
  }
}
@media (min-width: 1500px) {
  #home::before {
    content:"Welcome to Austin Tran's CS50 Web Programming with Python and JavaScript Project 0!";
  }
}
@media (max-width: 1499px) {
  #home::before {
    content: "Welcome to Austin Tran's Project 0!";
  }
}
@media (min-width: 992px) {
  %gradientbox {
    background: $redbg;
    background: $redgradient;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .information-bordera {
    @extend %gradientbox;
    border-left: $border;
    border-top-right-radius: 43px;
    border-bottom-right-radius: 43px;
  }
  .information-borderc {
    @extend %gradientbox;
    border-right: $border;
    border-top-left-radius: 43px;
    border-bottom-left-radius: 43px;
  }
  .information-bar-bg1 {
    background-image: url("img/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 991px) {
    %gradientbox2 {
      background: $redbg;
      background: $redgradient;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    .information-border-sm-a {
      @extend %gradientbox2;
      border-top: $border;
      border-bottom: 2.5px solid white;
      border-bottom-right-radius: 43px;
      border-bottom-left-radius: 43px;
    }
    .information-border-sm-c {
      @extend %gradientbox2;
      border-bottom: $border;
      border-top-right-radius: 43px;
      border-top-left-radius: 43px;
    }
    .information-bar-bg1 {
      background-color: purple;
    }
}



.information-bar-bg3 {
  background-image: url("img/edu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.information-bar-bg2 {
  background-image: url("img/bg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.information-bar-bg4 {
  background-image: url("img/bg4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about::before {
  content: "Who is Austin Tran?";
}

p {
  font-size: $paragraphsize;
  line-height: 2;
}
.center {
  text-align: center;
}
.or {
  @extend %center;
  font-weight: bolder;
  font-size: 20px;
}
#click {
  height:100px;
}
.first {
  position: relative;
  top: 50%;
}

.information-bar {
  margin: $marginvert $marginhor;
  border: 5px solid white;
  border-radius: 50px;
}
.information-box {
  padding: $paddingvert $paddinghor;
}
#austin {
  border-radius: 100px;
}
#austinis {
  font-size: $paragraphsize;
  line-height: 2;
  li {
    line-height: 3;
  }
}
#codeimg, #austin {
  border: 5px solid lightgray;
}
